/* custom style for blog
 * base color: http://colorschemedesigner.com/csd-3.5/#5z41Tw0rmw0w0
*/

.navbar-default {
	border-color:  #008A73;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
	background-color:  #008A73;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
	background-color:  #008A73;
}
.navbar-default .navbar-toggle {
	border-color:  #008A73;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
	background-color:  #008A73;
}

@media (max-width: 767px) {
	.navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
		background-color:  #008A73;
	}
}



ul.nav-tabs li.active a, ul.nav-tabs li.active a:hover{
    background: #008A73;
    border: 1px solid #008A73;
}




/* blog specific stuff */
#blogcontainer {
	/* make space for nav top */
	padding-top:  60px;
}

.breadcrumbs {
	color: #999;
}
.breadcrumbs a, .breadcrumbs a:hover {
	color: #999;
	text-decoration: underline;
}




/* detail blog page */


.blogdetail img {
	max-width: 100%;
	
}
.blogdetail em {
	color: #999;
}