/*
Elektrotechnik (BLAU)
RGB 0/118/189

Wohn-Art (ANTHRAZIT)
RGB 53/62/72

Haselmaier (ROT)
RGB 209/0/25

F�r Alle Grau Wert (Logo Rand)
RGB 177/179/180

------------------------------

colors found in mockups

dark grey 7e7574
medium grey 9d9694
light grey aeadac
*/

html, body {
    /*height: 100%;*/
    background: #7e7574; 
}


/* http://demosthenes.info/blog/777/Create-Fullscreen-HTML5-Page-Background-Video */
#imagevideo #bgvid {
    position:relative; top: 0;
    width: 100%;
    height: auto;

    background: url(http://assets.haselmaier.at/handholz.jpg) no-repeat;
    background-size: cover;
    
}

#imagevideo #bg_mobile {
    /* fallback on mobile */

    width: 100%;
    min-height: 400px;

    background: url(http://assets.haselmaier.at/handholz.jpg) no-repeat;
    background-size: cover;
}


#blog_wrapper {
    width: 95%;
    
    position: absolute;
    top:1%;
    bottom:80%;
    
    z-index: 3;
}
#blog_wrapper p {
    color: #eee;
}




#logo_wrapper {
    
    /*
    This is needed to position div according to bootstrap's fluid grid.
    Otherwise centering would not work.
    */
    
    width:100%;
    
    position:absolute;
    top: 30%;
    bottom: 50%;
    
    z-index:2;

}

#logo {
    /*
    Logo goes here.
    
    Center this div, but keep it fluid.
    */
    float: none;
    margin-left: auto;
    margin-right: auto;
   
    /*background: rgba(0,0,0,.3);*/
}
.subbrand {
    margin-top:5px;
    padding:10px;
    background: rgb(177,179,180);
    
    border-radius: 2px 2px 15px 2px; 

}
.subbrand h1 {
    margin-top: 12px; /* reduce vertical offset*/
    font-size:1.05em;
    font-weight:lighter;
    color: white;
    text-transform: uppercase;
    text-align:center;
}
#logo a:hover {
    text-decoration: none;
}
/* some magic with clicking the links*/
a:active > .subbrand.wohnart,
a:hover > .subbrand.wohnart {
    background: rgb(53,62,72);
}
a:active > .subbrand.tischlerei,
a:hover > .subbrand.tischlerei,
a:active > .subbrand.leitstellen,
a:hover > .subbrand.leitstellen {
    background: rgb(209,0,25);
}
a:active > .subbrand.etechnik,
a:hover > .subbrand.etechnik {
    background: rgb(0,118,189);
}

.subbrand.blog {
    background: rgba(0,90,75,.9);
}



/*
  footer
*/
#footer_container {
    margin-top:1em;
    background-color:#7e7574;
}
#footer_container_wohnart {
    margin-top:1em;
    background-color:rgb(53,62,72);    
}
#footer_container_etechnik {
    margin-top:1em;
    background-color:rgb(0,118,189);    
}
footer {
    font-weight:lighter;
    color:#ccc;
}
footer h2, h3 {
    font-weight: lighter;
}
footer a.footerinfo, footer a.footerinfo:hover, footer a.footerinfo:active, footer a.footerinfo:visited {
    color: #ccc;
    text-decoration:underline;
}

#gdprbox {
    position: fixed; 
    bottom: 0px; 
    background-color: rgb(53,62,72); 
    width: 100%;
    z-index: 2; 
    padding: 15px; 
    font-weight: lighter;
    color: #ccc; 
    box-shadow: 0 3px 3px 3px #000 ;
}
