{% extends "gal/modal_inner.html" %}
{% load i18n thumbnail bootstrap3 %}

{% block modal_title %}{{ category.title }}{% endblock %}

{% block content %}
<div class="row">
<div class="col-md-1">&nbsp;</div>
    <div class="col-md-10">
    
    <div id="carousel-category-{{category.pk}}" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    {% for item in object_list %}
    
    <li data-target="#carousel-category-{{category.pk}}" data-slide-to="{{ forloop.counter0 }}"{% if not forloop.counter0 %} class="active"{% endif %}></li>
    {% endfor %}
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    
    {% for item in object_list %}
    {% thumbnail item.image "x500" crop="center" as im %}    
    <div class="item{% if not forloop.counter0 %} active{% endif %}">
      <img src="{{ im.url }}" alt="{{ item.title }}">
      <div class="carousel-caption"  style="background-color: rgba(255,255,255, 0.5);">
      <a href="{{ item.image.url }}" target="_blank" style="color: #333; text-decoration: none;">
         {% if item.title %}
           <h4>{{ item.title }}</h4>
         {% endif %}
         <span class="glyphicon glyphicon-zoom-in"></span> vergrößern
         
      </a>
      </div>
    </div>
    {% endthumbnail %}
    {% endfor %}
    
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-category-{{category.pk}}" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#carousel-category-{{category.pk}}" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
  {% comment %}
  <a class="bottom carousel-control" href="#carousel-category-{{category.pk}}" role="button">
    <span class="glyphicon glyphicon-zoom"></span>
  </a>
  {% endcomment %}
</div>
</div>
{% endblock content %}