{% extends "haselsite/bs3_subsite.html" %}



{% block title %}Haselmaier Blog: Wir lieben was wir tun{% endblock %}

{% block css_at_top %}
<link rel="stylesheet" href="{{STATIC_URL}}css/group.css">
<link rel="stylesheet" href="{{STATIC_URL}}css/blog.css">
{% endblock %}


{% block navigation %}
    {% include "haselsite/navigation.html" with active="blog" %}
{% endblock %}









{% block content_container %}
    
    
    
<div id="blogcontainer">
    
    <p cs="breadcrumbs">Haselmaier Blog </p>
    
    <h1>Wir lieben was wir tun</h1>
    <p>
        Haselmaier und Partner bloggen über Möbel und Technik für den Menschen. 
    </p>

    {% comment %}
    
    HOWTO 3 column layout:
      1. change to div class to "col-md-4"
      2. change both tags to divisibleby:"3"
      
    {% endcomment %}
    
    {% for entry in entries %}
    {% if forloop.counter0|divisibleby:"2" or forloop.first %}<div class="row">{% endif %}
        
        
        <div class="col-md-6 has2_entry" style="background-image: url({{entry.title_image.url}});">
        
            {%comment%}<img class="image" src="{{entry.image.url}}" alt="Blog image" />{%endcomment%}
            
            <div class="textfield textfield_blog">
                <h3><a href="{% url "blog_detail" entry.slug  %}">{{entry.title}}</a></h3>
                 
                {% for tag in entry.tags.all %}
                    <span class="tag">{{tag.name}}</span>
                {% endfor %}
                
            </div>
            
            
        
        </div>
        
    {% if forloop.counter|divisibleby:"2" or forloop.last %}</div>{%endif%}
    {% endfor %}

</div>
{% endblock content_container %}



{% block footer%}
  {% include "haselsite/footer.html" with active="blog" %}

{% endblock %}
