
    
{% comment %}

HOWTO 3 column layout:
  1. change to div class to "col-md-4"
  2. change both tags to divisibleby:"3"
  
{% endcomment %}



{% for entry in entries %}
{% if forloop.counter0|divisibleby:"2" or forloop.first %}<div class="row">{% endif %}
    
    
    <div class="col-md-6 has2_entry" style="background-image: url({{entry.title_image.url}});">
    
        {%comment%}<img class="image" src="{{entry.image.url}}" alt="Blog image" />{%endcomment%}
        
        <div class="textfield textfield_blog">
            <h3><a href="{% url "blog_detail" entry.slug  %}">{{entry.title}}</a></h3>
             
            {% for tag in entry.tags.all %}
                <span class="tag"><a href="{% url "blog_tag" tag.name|lower %}">{{tag.name}}</a></span>
            {% endfor %}
            
        </div>
        
        
    
    </div>
    
{% if forloop.counter|divisibleby:"2" or forloop.last %}</div>{%endif%}
{% endfor %}