
<div class="container {% if active == 'wohn-art' %}wohnart{% elif active == 'e-technik' %}etechnik{% endif %}"
    id="footer_container">

<footer>
    <div class="row-fluid" >
        
        <div class="col-md-2">
            <h2>Kontakt</h2>
            
            {% if active == "wohn-art" %}
            <h3>Wohn-Art</h3>
            {% elif active == "e-technik" %}
            <h3>E-Technik</h3>
            {% endif %}
            
            <p>
              Jetzt neu: Beratungsstandort in Wien!
            </p>
            
            
        </div>
        <div class="col-md-5">
            
            <dl class="dl-horizontal" id="contact">
                <dt>Stammsitz Scheibbs</dt>
                <dd></dd>
                <dt>Telefon</dt>
                <dd>
                  {% if active == "wohn-art" %}
                    <a class="btn btn-default" href="tel:+43 7482 4581410">+43 7482 45814 10</a>
                  {% elif active == "e-technik" %}
                    <a class="btn btn-default" href="tel:+43 7482 42868">+43 7482 42868</a>
                  {% else %}
                    <a class="btn btn-default" href="tel:+43 7482 45814">+43 7482 45814</a>
                  {% endif %}
                </dd>
                
                <dt>Email</dt>
                <dd>
                
                  {% if active == "e-technik" %}
                    <a href="mailto:office@haselmaier-elektro.at" class="footerinfo">office@haselmaier-elektro.at</a>
                  {% else %}
                    <a href="mailto:haselmaier@haselmaier.at" class="footerinfo">haselmaier@haselmaier.at</a>
                  {% endif %}
                
                </dd>
                
                <dt>Anschrift</dt>
                <dd>
                    <address class="adr">
                        <span class="street-address">Miesenbach 
                            {% if active == "e-technik" %}
                            74
                            {% else %}
                            72
                            {% endif %}

                        </span><br>
                        <span class="postal-code">A-3270</span>,
                        <span class="locality">Scheibbs</span><br>
                    </address>
                  
                </dd>
                
                <dt>Beratung Wien</dt>
                <dd>
                  <p class="adr">
                        <span class="street-address">Paulanergasse 8</span><br>
                        <span class="postal-code">A-1040</span>,
                        <span class="locality">Wien</span><br>
                        <a href="http://pg8.at/" class="footerinfo">pg8.at</a><br/>
                        (Nach Terminvereinbarung)
                  </p>
                  
                </dd>
            </dl>
            
        </div>
        <div class="col-md-5">
            <p>
                Sitemap:
                <a href="{% url "tischlerei" %}?from=footer" class="footerinfo"> Tischlerei</a> |
                <a href="{% url "leitstellen" %}?from=footer" class="footerinfo">Leitstellen</a> |
                <a href="{% url "e_technik" %}?from=footer" class="footerinfo">E-Technik</a>                
                {% if  BLOG_ACTIVE %} |
                <a href="{% url "blog" %}?from=footer" class="footerinfo">Stories</a>
                {% endif %}
            </p>
            <p>
                <a class="btn btn-default btn-xs"
                   href="https://maps.google.at/maps?saddr=aktueller+standort&daddr=Miesenbach&hl=de&ll=47.969073,15.171465&spn=0.006328,0.009495&sll=47.969719,15.173074&sspn=0.006328,0.009495&geocode=%3BFf712wIdLoTnAA&t=h&mra=mdsmb&disamb=0&z=17&iwloc=ddw1"
                   target="_new">
                    <span class="glyphicon glyphicon-map-marker"></span> Google maps
                </a>
            </p>
            <p>
            <a href="#" class="footerinfo" data-toggle="modal" data-target="#modal_imprint">Impressum</a> |
            &copy; 2017
            </p>

        </div>

    </div>

</footer>
</div>





<!-- Modal IMPRESSUM -->
<div class="modal fade" id="modal_imprint" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      <h4 class="modal-title" id="myModalLabel">Impressum</h4>
    </div>
    <div class="modal-body">
      
      <p>
        Die Inhalte dieser Seite sind - sofern nicht anders genannt - Eigentum der Tischlerei Haselmaier GmbH.
        Jede Nutzung bzw. Weiterverwendung von Inhalten wie Texte, Bilder oder Grafiken
        außerhalb dieser Internetseiten und die Portierung auf andere Medien bedarf ausnahmslos der
        schriftlichen Genehmigung des Medieninhabers.
      </p>

      <dl class="dl-horizontal">
        <dt>Medieninhaber</dt>
        <dd>Tischlerei Haselmaier GmbH</dd>
      
        <dt>Adresse</dt>
        <dd>
            Miesenbach 72<br/>
            A-3270 Scheibbs
        </dd>
        
        <dt>Firmenbuchnummer</dt>
        <dd>288913y</dd>
        
        <dt>Firmengericht</dt>
        <dd>Landesgericht St. Pölten</dd>
        
        <dt>Behörde gem. ECG</dt>
        <dd>Bezirkshauptmannschaft Scheibbs</dd>
        
      </dl>

      
      <div class="row">
          <div class="col-xs-3">
              <img src="{{ STATIC_URL }}img/corporatedesign/Logo_c99_small.png" alt="" style="max-width:100%" />
          </div>
          <div class="col-xs-9">
            <p>Diese Webseite setzt keine Cookies und speichert keine persönlichen Daten mit Ausnahme der Server(access/error)-Logs. (rotation=1y)</p>
            <p>
              Online-Konzept und Umsetzung durch <a href="http://c99.at/" target="_new">c99.at</a>.
              Der <a href="https://bitbucket.org/mathiascfrey/haselmaier.at">Quellcode</a> oder Auszüge dürfen unter Namensnennung weiter verwendet werden.
            </p>
            
          </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default" data-dismiss="modal">Schließen</button>
    </div>
  </div>
</div>
</div>
