
<div class="container"
     {% if active == "wohn-art" %}
       id="footer_container_wohnart"
     {% else %}
       id="footer_container"
     {% endif %}>
<footer>
    <div class="row-fluid" >
        
        <div class="col-md-2">
            <h2>Kontakt</h2>
            {% if active == "wohn-art" %}
            <h3>Wohn-Art</h3>
            {% endif %}
            
            
        </div>
        <div class="col-md-5">
            
            <dl class="dl-horizontal" id="contact">
                
                <dt>Telefon</dt>
                <dd>
                  {% if active == "wohn-art" %}
                    <a class="btn btn-default" href="tel:+43 7482 4581410">+43 7482 45814 10</a>
                  {% else %}
                    <a class="btn btn-default" href="tel:+43 7482 45814">+43 7482 45814</a>
                  {% endif %}
                </dd>
                
                <dt>Email</dt>
                <dd>
                
                  {% if active == "wohn-art" %}
                    <a href="mailto:wohnart@haselmaier.at" class="footerinfo">wohnart@haselmaier.at</a>
                  {% else %}
                    <a href="mailto:office@haselmaier.at" class="footerinfo">office@haselmaier.at</a>
                  {% endif %}
                
                </dd>
                
                <dt>Anschrift</dt>
                <dd>
                    <address class="adr">
                        <span class="street-address">Miesenbach 72</span><br>
                        <span class="postal-code">A-3283</span>,
                        <span class="locality">St. Anton/Jeßnitz</span><br>
                    </address>
                  
                </dd>
                
            </dl>
            
        </div>
        <div class="col-md-5">
            <p>
                Sitemap:
                <a href="{% url "group" %}" class="footerinfo">Group</a> |
                <a href="{% url "tischlerei" %}" class="footerinfo"> Tischlerei</a> |
                <a href="{% url "wohn_art" %}" class="footerinfo">Wohn-Art</a> |
                <a href="{% url "leitstellen" %}" class="footerinfo">Leitstellen</a> |
                <a href="{% url "e_technik" %}" class="footerinfo">E-Technik</a>
            </p>
            <p>
                <a class="btn btn-default btn-xs"
                   href="https://maps.google.at/maps?saddr=aktueller+standort&daddr=Miesenbach&hl=de&ll=47.969073,15.171465&spn=0.006328,0.009495&sll=47.969719,15.173074&sspn=0.006328,0.009495&geocode=%3BFf712wIdLoTnAA&t=h&mra=mdsmb&disamb=0&z=17&iwloc=ddw1"
                   target="_new">
                    <span class="glyphicon glyphicon-map-marker"></span> Google maps
                </a>
            </p>
            <p>
            <a href="#" class="footerinfo" data-toggle="modal" data-target="#modal_imprint">Impressum</a> |
            &copy; 2014
            </p>

        </div>

    </div>

</footer>
</div>





<!-- Modal IMPRESSUM -->
<div class="modal fade" id="modal_imprint" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      <h4 class="modal-title" id="myModalLabel">Impressum</h4>
    </div>
    <div class="modal-body">
      
      <p>
        Die Inhalte dieser Seite sind - sofern nicht anders genannt - Eigentum der Tischlerei Haselmaier GmbH.
        Jede Nutzung bzw. Weiterverwendung von Inhalten wie Texte, Bilder oder Grafiken
        außerhalb dieser Internetseiten und die Portierung auf andere Medien bedarf ausnahmslos der
        schriftlichen Genehmigung des Medieninhabers.
      </p>

      <dl class="dl-horizontal">
        <dt>Medieninhaber</dt>
        <dd>Tischlerei Haselmaier GmbH</dd>
      
        <dt>Adresse</dt>
        <dd>
            Miesenbach 72<br/>
            A-3283 St. Anton
        </dd>
        
        <dt>Firmenbuchnummer</dt>
        <dd>288913y</dd>
        
        <dt>Firmengericht</dt>
        <dd>Landesgericht St. Pölten</dd>
        
        <dt>Behörde gem. ECG</dt>
        <dd>Bezirkshauptmannschaft Scheibbs</dd>
        
      </dl>

      
      <div class="row">
          <div class="col-xs-3">
              <img src="{{ STATIC_URL }}img/corporatedesign/Logo_c99_small.png" alt="" style="max-width:100%" />
          </div>
          <div class="col-xs-9">
            <p>
              Online-Konzept und Umsetzung durch <a href="http://c99.at/" target="_new">c99.at</a>.
              Der <a href="https://bitbucket.org/mathiascfrey/haselmaier.at">Quellcode</a> oder Auszüge dürfen unter Namensnennung weiter verwendet werden.
            </p>
            
          </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default" data-dismiss="modal">Schließen</button>
    </div>
  </div>
</div>
</div>
