{% extends "haselsite/bs3_base.html" %}

{# {% block title %}{% endblock %} #}



{% block content %}
<p style="height: 3em;"/>
<div id="homepage-valign">

    <div class="col-xs-12 col-md-8 col-lg-6" id="logo">

            <img src="{{ STATIC_URL }}img/corporatedesign/group_logo-bw.png" alt="Haselmaier Group Logo" style="width: 100%" />

        <div class="row">
            <div class="col-xs-4 key-message">
                <span class="underline">_</span>Wir produzieren in Österreich
            </div>
            <div class="col-xs-4 key-message">
                <span class="underline leitstelle">_</span>Arbeitsplätze für kritische Infrastruktur
            </div>
            <div class="col-xs-4 key-message">
                <span class="underline e-technik">_</span>Der Kern einer smarten Welt
            </div>
        </div>
        
        <div class="row">
            <div class="col-xs-4">
                <a class="enable_tooltip" href="{% url "tischlerei" %}" data-toggle="tooltip" data-placement="bottom"
                    title="Unser Herz schlägt für Holz"><div class="subbrand tischlerei"><h1><i class="glyphicon glyphicon-chevron-right"></i> Tischlerei</h1></div></a>
                </div>
            
            
            <div class="col-xs-4">
                <a class="enable_tooltip" href="https://dieleitstelle.at" data-toggle="tooltip" data-placement="bottom"
                    title="Möbel für Leitstellen"><div class="subbrand leitstellen"><h1><i class="glyphicon glyphicon-chevron-right"></i> Leitstellen</h1></div></a>
                </div>
            
            <div class="col-xs-4">
                <a class="enable_tooltip" href="{% url "e_technik" %}" data-toggle="tooltip" data-placement="bottom"
                    title="Der Kern einer smarten Welt"><div class="subbrand etechnik"><h1><i class="glyphicon glyphicon-chevron-right"></i> E-Technik</h1></div></a>
                </div>            
            
        </div>
        
    </div>
</div>


<div class="in" id="gdprbox">
    <div class="row">
        <div class="col-xs-6" style="text-align:right;">
                <p>
                        Wir hinterlassen nach getaner Arbeit keinen Dreck.<br/>
                        Ebensowenig speichern wir Cookies auf Ihrem Rechner.🍪
                </p>  
        </div>
        <div class="col-xs-6" style="text-align:left;">
                <button type="button" class="btn btn-warning" data-toggle="collapse" data-target="#gdprbox">Sehr gut!</button>
        </div>
    </div>
    
</div>



{% endblock content %}



{% block js_at_bottom %}
<script type="text/javascript">
$(document).ready(function(){
    
    // tooltips on start page
    $('.enable_tooltip').tooltip();

});

</script>
{% endblock %}

