



<div style="border: 1px solid rgb(209,0,25); padding: 1em; margin: 100px 0; background: white;">
    
    <span style="background: rgb(209,0,25); padding: .5em; color: white; font-weight: bold;" >
      Jetz neu!
    </span>

    <h3>Online Konfigurator</h3>
    
    <img src="{{ STATIC_URL }}img/leitstellen/ttv.png" alt="" style="padding: 1em; width: 100%; max-width: 250px;" />

    <p>
        Bauen Sie Ihren persönlichen <strong>TTV</strong> in wenigen Schritten und erhalten Sie
        umgehend ein Angebot:
    </p>

    <a href="/configurator">
        <img src="{{ STATIC_URL }}img/leitstellen/konfigurator.jpg" alt="" style="width:100%;" />
    </a>
    <p>
        <a href="/configurator">
            Konfigurator starten
        </a>
    </p>    
</div>

