{% extends "haselsite/bs3_subsite.html" %}

{% block title %}Möbel für Leitstellen von Haselmaier{% endblock %}

{% block css_at_top %}
<link rel="stylesheet" href="{{STATIC_URL}}css/group.css">
<link rel="stylesheet" href="{{STATIC_URL}}css/leitstellen.css">
{% endblock %}


{% block navigation %}
    {% include "haselsite/navigation.html" with active="leitstellen" %}
{% endblock %}


{% block jumbotron %}
<div id="jumbotron">


    <div id="logo_wrapper">
        <div class="col-xs-12 col-md-8 col-lg-6" id="logo">
            
            
            <a class="innerside-nav" href="#leitstelle" >
                <img src="{{ STATIC_URL }}img/corporatedesign/leitstellen_logo.png" alt="Haselmaier Group Logo" style="width: 100%" />
                <br/>
                <span class="glyphicon glyphicon-chevron-down"></span>
            </a>
            
            
            
        </div>
    </div>

</div>
{% endblock %}



{% block content_container %}

<div class="row">
    
    <div class="col-md-3 hidden-xs hidden-sm" id="contentScrollspy">
        <ul class="nav nav-tabs nav-stacked affix" id="myAffix"><!-- data-spy="affix"  data-offset-top="160" -->
            <li class="active"><a class="innerside-nav" href="#leitstelle">Leitstelle</a></li>
            <li><a class="innerside-nav" href="#system">System</a></li>
            <li><a class="innerside-nav" href="#angebot">Angebot</a></li>
            <li><a class="innerside-nav" href="#projekte">Projekte</a></li>
        </ul>
    </div>
    
    
    <div class="col-md-6" id="start_affix_contentarea">
      
      <div id="leitstelle" class="affix_contentarea">


        <h1>Haselmaier Leitstellen</h1>
          
        <h2>Möbel für Leitstellen und Warten</h2>
            
            

          

        <p class="">
        Haselmaier entwickelt ergonomische Technikmöbel, die Arbeitsschritte erleichtern und konzentriertes Arbeiten ermöglichen.
        Die Technik im jeweiligen Kontrollraum bzw. der Einsatzzentrale wird in die Möbel passgenau integriert.
        </p>


        
        
        <p>
        Auf diese Weise bleiben Kabel, Leitungen und Elektronik "unsichtbar" und ermöglichen einen reibungslosen Arbeitsfluss.
        Der Zusammenbau erfolgt fix und fertig vor Ort zusammen mit der gesamten Technik.

        </p>          
          

            


            



      </div>


      <div id="system" class="affix_contentarea">
        <h2>Technikmöbel mit System</h2>
        <p class="">
        Am Anfang stand eine Idee: das Bauen von Tischen für Leitstellen. Daraus haben sich im Laufe der
        Jahre komplette Systeme entwickelt.
        </p>
        
        
        
        <div class="row">
          <div class="col-md-4">
            <img src="{{STATIC_URL}}img/leitstellen/leitstelle_01.jpg" alt="" width="100%" class="thumbnail" />
          </div>
          <div class="col-md-4">
            <img src="{{STATIC_URL}}img/leitstellen/leitstelle_02.jpg" alt="" width="100%" class="thumbnail"/>
          </div>
          <div class="col-md-4">
            <img src="{{STATIC_URL}}img/leitstellen/LeitstandAllmendingenTische_sw1_72dpi.jpg" alt="" width="100%" class="thumbnail"/>
          </div>
        </div>
        <div class="row">

          <div class="col-md-4">
            <img src="{{STATIC_URL}}img/leitstellen/DSC_7219_sw_72dpi.jpg" alt="" width="100%" class="thumbnail" />
          </div>
          <div class="col-md-4">
            <img src="{{STATIC_URL}}img/leitstellen/DSC_7444_72dpi.jpg" alt="" width="100%" class="thumbnail"/>
          </div>
          <div class="col-md-4">
            <img src="{{STATIC_URL}}img/leitstellen/DSC_7861_a_72dpi.jpg" alt="" width="100%" class="thumbnail"/>
          </div>
          
        </div>
        
        
        <p>
        Heute baut Leitstellen Haselmaier alles, was eine Warte benötigt und sich durch Möbel bewegen
        lässt: Wafer Table, Beamer Blackboard, Interface Terminals oder Kameralift. Unsere Technikmöbel mit
        Sonderfunktion sind innovativ, funktionell und zu 100 Prozent ergonomisch.
        </p>
        
        <p>
        Nur wer sich wohlfühlt, kann unter Druck gut arbeiten. Unsere Technikmöbel sorgen dafür, dass in
        der Einsatzzentrale, Leitstelle, Warte und im Kontrollraum die Arbeit leicht von der Hand geht.          
        </p>
      
      </div>

      
      <div id="angebot" class="affix_contentarea">
        <h2>Unser Angebot</h2>
        <ul>
            <li>Entwicklung, Design und Umsetzung von modularen und intelligenten Systemen</li>
            <li>Systeme mit größter Betriebssicherheit</li>
            <li>Planung umfassender Raumkonzepte</li>
            <li>Entwicklung und Eigenfertigung</li>
            <li>Intelligentes Design aus der hauseigenen Tischlerei</li>
            <li>Entwicklung und Bau elektrotechnischer Komponenten</li>
            <li>Verfügbarkeit von Zukaufkomponenten wie Hubsäulen ab Lager</li>
            <li>Fachgerechte Montage und Integration aller Komponenten vor Ort</li>
            <li>Rasche Serviceleistung</li>
        </ul>
        
        

        
        
      </div>

      <div id="projekte" class="affix_contentarea">
        <h2>Projekte &amp; Referenzen</h2>

          


<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">

    <!--<div id="logo_wrapper">-->
    <!--    <div class="col-xs-12 col-md-8 col-lg-6" id="logo">-->
    <!--        <img src="img/vendor/wohnart_logo.png" alt="Haselmaier Wohn-Art Logo" style="width: 100%" />-->
    <!--    </div>-->
    <!--</div>-->
    
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
    <li data-target="#carousel-example-generic" data-slide-to="3"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item active">
      <img src="{{ STATIC_URL }}img/leitstellen/Verbund_01.jpg" alt="...">
      <div class="carousel-caption">
        Verbund
      </div>
    </div>
    <div class="item">
      <img src="{{ STATIC_URL }}img/leitstellen/DSC_6690_72dpi.jpg" alt="...">
      <div class="carousel-caption">
        WU Wirtschaftsuniversität Wien, 2013
      </div>
    </div>
    <div class="item">
      <img src="{{ STATIC_URL }}img/leitstellen/RK-Graz-2008-17_72dpi.jpg" alt="...">
      <div class="carousel-caption">
        RK Graz
      </div>
    </div>
    <div class="item">
      <img src="{{ STATIC_URL }}img/leitstellen/P1020333_72dpi.jpg" alt="...">
      <div class="carousel-caption">
       
      </div>
    </div>

  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div>




          <h3>Referenzen</h3>
          
          <p>In Bearbeitung</p>
          
          <!--
          <dl>
            <dt>2014</dt>
            <dl>
                <ul>
                    <li>xy GmbH, Berlin Deutschland</li>
                    <li></li>
                    <li></li>
                    <li></li>
                </ul>
            </dl>
            
            <dt>2013</dt>
            <dl>
                <ul>
                    <li>Verbund, Wien</li>
                    <li>Salzburg Strom, Salzburg</li>
                    <li></li>
                    <li></li>
                </ul>
            </dl>

            <dt>2012</dt>
            <dl>
                <ul>
                    <li>bla</li>
                    <li>bla</li>
                    <li></li>
                    <li></li>
                </ul>
            </dl>
            
          </dl>
          -->
          
      </div>


    
    </div>
    
    <div class="col-md-3">
        <p />
    
        <p>
          <img src="{{STATIC_URL}}img/leitstellen/wolfgang_haselmaier.jpg" alt="" style="width:100%" />
        </p>
        
        <blockquote>
          <p>
            Nur wer sich wohlfühlt, kann unter Druck gut arbeiten.
          </p>
          <small>
          <cite>Wolfgang Haselmaier</cite>
          </small>
        </blockquote>
        
        {% block katalog %}
            {% include "haselsite/katalog.html" with logo="leitstellen_logo.png" link="https://www.yumpu.com/de/embed/view/EQ3yHOv2y9Z5Kzkh" %}
        {% endblock %}
        
        
    </div>

</div>



{% endblock content_container %}