{% extends "haselsite/bs3_subsite.html" %}

{% block title %}Möbel für Leitstellen von Haselmaier{% endblock %}

{% block css_at_top %}
<link rel="stylesheet" href="{{STATIC_URL}}css/group.css">
<link rel="stylesheet" href="{{STATIC_URL}}css/leitstellen.css">
{% endblock %}


{% block navigation %}
    {% include "haselsite/navigation.html" with active="leitstellen" %}
{% endblock %}


{% block jumbotron %}
<div id="jumbotron">


    <div id="logo_wrapper">
        <div class="col-xs-12 col-md-8 col-lg-6" id="logo">
            
            
            <a class="innerside-nav" href="#leitstelle" >
                <img src="{{ STATIC_URL }}img/corporatedesign/leitstellen_logo.png" alt="Haselmaier Group Logo" style="width: 100%" />
                <br/>
                <span class="glyphicon glyphicon-chevron-down"></span>
            </a>
            
            
            
        </div>
    </div>

</div>
{% endblock %}



{% block content_container %}

<div class="row">
    
    <div class="col-md-3 hidden-xs hidden-sm" id="contentScrollspy">
        <ul class="nav nav-tabs nav-stacked affix" id="myAffix"><!-- data-spy="affix"  data-offset-top="160" -->
            <li class="active"><a class="innerside-nav" href="#leitstelle">_Leitstelle</a></li>
            <li><a class="innerside-nav" href="#ttv">_TTV</a></li>
            <li><a class="innerside-nav" href="#projekte">_Projekte</a></li>
            <li><a class="innerside-nav" href="#angebot">_Angebot</a></li>
            
        </ul>
    </div>
    
    
    <div class="col-md-6" id="start_affix_contentarea">
      
      <div id="leitstelle" class="affix_contentarea">


        <h1>Haselmaier Leitstellen</h1>
          
        
        <p class="readability">
        Haselmaier entwickelt ergonomische Technikmöbel, die Arbeitsschritte erleichtern und konzentriertes Arbeiten ermöglichen.
        Die Technik im jeweiligen Kontrollraum bzw. der Einsatzzentrale wird in die Möbel passgenau integriert.
        </p>
        
        
        <p class="readability">
        Auf diese Weise bleiben Kabel, Leitungen und Elektronik "unsichtbar" und ermöglichen einen reibungslosen Arbeitsfluss.
        Der Zusammenbau erfolgt fix und fertig vor Ort zusammen mit der gesamten Technik.

        </p>          
          
        <div>
          <img src="{{STATIC_URL}}img/leitstellen/leitstelle-architektur.jpg" alt="" width="100%" />
        </div>
        

            



      </div>

      <div id="ttv" class="affix_contentarea">
        {% block ttv %}
            {% include "haselsite/ttv.html" %}
        {% endblock %}
      
      </div>

    

      


      <div id="projekte" class="affix_contentarea">
        <h2>_Projekte &amp; Partner</h2>

        {% if request.GET.demo %}
        {% include "haselsite/leitstellen_referenzen.html" %}

        <div style="background-color: yellow;">
        UND ALLES DRUNTER BIS _ANGEBOT IGNORIEREN!
        </div>
        {% endif %}


<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">

    <!--<div id="logo_wrapper">-->
    <!--    <div class="col-xs-12 col-md-8 col-lg-6" id="logo">-->
    <!--        <img src="img/vendor/wohnart_logo.png" alt="Haselmaier Wohn-Art Logo" style="width: 100%" />-->
    <!--    </div>-->
    <!--</div>-->
    
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
    <li data-target="#carousel-example-generic" data-slide-to="3"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item active">
      <img src="{{ STATIC_URL }}img/leitstellen/Verbund_01.jpg" alt="...">
      <div class="carousel-caption">
        Verbund
      </div>
    </div>
    <div class="item">
      <img src="{{ STATIC_URL }}img/leitstellen/DSC_6690_72dpi.jpg" alt="...">
      <div class="carousel-caption">
        WU Wirtschaftsuniversität Wien, 2013
      </div>
    </div>
    <div class="item">
      <img src="{{ STATIC_URL }}img/leitstellen/RK-Graz-2008-17_72dpi.jpg" alt="...">
      <div class="carousel-caption">
        RK Graz
      </div>
    </div>
    <div class="item">
      <img src="{{ STATIC_URL }}img/leitstellen/P1020333_72dpi.jpg" alt="...">
      <div class="carousel-caption">
       
      </div>
    </div>

  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div>




          <h3>Referenzen</h3>

          <dl>
            <dt>Energieversorger</dt>
            <dd>
                <ul>
                    
                    <li>OMV (Gänserndorf, Auersthal, Schönkirchen)</li>
                    <li>Gas Connect</li>
                    <li>BEWAG Burgenland</li>
                    <li>Verbund Wien (SEW, APG)</li>
                    <li>Verbundtöchter Kaprun, Ennskraft</li>
                    <li>Energie AG Oberösterreich</li>
                    <li>Energie Steiermark</li>
                    <li>TIWAG (Tiroler Wasserkraft Innsbruck und Silz)</li>
                    <li>Amprion Köln-Brauweihler</li>
                </ul>
            </dd>
          </dl>

          <dl>
            <dt>Verkehrsbetriebe</dt>
            <dd>
                <ul>
                    
                    <li>Wiener Linien</li>
                    <li>Salzburg AG O-Bus</li>
                    <li>IVB Innsbrucker Verkehrsbetriebe</li>
                    <li>NÖVOG Laubenbachmühle</li>
                    <li>BVG Berliner Verkehrsbetriebe</li>
                    <li>Flughafen Salzburg Enteisung</li>


                </ul>
            </dd>
          </dl>          
          





          <dl>
            <dt>Industrieleitstand</dt>
            <dd>
                <ul>
                    
                    <li>Schwenk Zement KG Mergelstetten/Ulm</li>
                    <li>Schwenk Zement KG Allmendingen</li>
                    <li>Schwenk Zement KG Bernburg</li>
                    <li>Chemie Linz</li>
                    <li>Voest Linz</li>
                    <li>AVN Moskau</li>
                    <li>Buckingham Müllverbrennung</li>
                    <li>Mautstelle Rostock</li>


                </ul>
            </dd>
          </dl>  



          <dl>
            <dt>Sicherheitszentralen</dt>
            <dd>
                <ul>
                    
                    <li>ÖNB Österreichische Nationalbank Wien</li>
                    <li>Münze Österreich Wien</li>
                    <li>LKH St.Pölten</li>
                    <li>LAWZ Steiermark</li>
                    <li>LAWZ Salzburg</li>

                </ul>
            </dd>
          </dl>  







          <dl>
            <dt>Blaulichtorganisationen</dt>
            <dd>
                <ul>
                  <li><a href="https://www.kreis-pinneberg.de/KRLS.html">KRLS Elmshorn</a>, 2018</li>  
                  <li>Rettung Wien</li>
                    <li>Berufsfeuerwehr Wien</li>
                    <li>Landesleitzentrale Florian Steiermark</li>
                    <li>Rettung Graz</li>
                    <li>Rettung Klagenfurt</li>
                    <li>Hamburg Polizei/Rettung</li>
                    <li>RFL Feldkirch</li>

                </ul>
            </dd>
          </dl>  






          <dl>
            <dt>Bezirksalarmzentralen</dt>
            <dd>
                <ul>
                    
                    <li>Graz Umgebung</li>
                    <li>Leibnitz</li>
                    <li>Deutschlandsberg</li>
                    <li>Murau</li>
                    <li>Bruck/Mur</li>
                    <li>Kapfenberg</li>
                    <li>Liezen</li>
                    <li>St.Pölten</li>
                    <li>St.Valentin</li>
                    <li>Traun</li>

                </ul>
            </dd>
          </dl>  




          
      </div>

      <div id="angebot" class="affix_contentarea">
        <h2>_Angebot</h2>
        <ul style="list-style-type: none; ">
            <li>_Entwicklung, Design und Umsetzung von modularen und intelligenten Systemen</li>
            <li>_Systeme mit größter Betriebssicherheit</li>
            <li>_Planung umfassender Raumkonzepte</li>
            <li>_Entwicklung und Eigenfertigung</li>
            <li>_Intelligentes Design aus der hauseigenen Tischlerei</li>
            <li>_Entwicklung und Bau elektrotechnischer Komponenten</li>
            <li>_Verfügbarkeit von Zukaufkomponenten wie Hubsäulen ab Lager</li>
            <li>_Fachgerechte Montage und Integration aller Komponenten vor Ort</li>
            <li>_Rasche Serviceleistung</li>
        </ul>
        
      </div>

    
    </div>
    
    
    <div class="col-md-3">
        <p />
    
        <p>
          <img src="{{STATIC_URL}}img/leitstellen/wolfgang_haselmaier.jpg" alt="" style="width:100%" />
        </p>
        
        <blockquote>
          <p>
            Nur wer sich wohlfühlt, kann unter Druck gut arbeiten.
          </p>
          <small>
          <cite>Wolfgang Haselmaier</cite>
          </small>
        </blockquote>
        
        {% comment %}


        {% block konfigurator %}
            {% include "haselsite/konfigurator.html" %}
        {% endblock %}
        

        {% block katalog %}
            {% include "haselsite/katalog.html" with logo="leitstellen_logo.png" link="https://www.yumpu.com/de/embed/view/EQ3yHOv2y9Z5Kzkh" %}
        {% endblock %}
        

        {% block blogs %}
            {% include "haselsite/sub_blogs.html" with entries=blogs %}
        {% endblock %}  
        
        {% endcomment %}

    </div>
    

</div>



  
{% endblock content_container %}