{% for project in projects %}
{% for image in images %}
<div class="row">
    <div class="col-xs-3">
       <a href="#" class="footerinfo" data-toggle="modal" data-target="#projects_{{project.id}}">
        <div class="reference" data-text="urxn">
          <img src="{{STATIC_URL}}img/leitstellen/OMV_logo.svg.png" alt=""  />
        </div>
      </a>
    </div>
    <div class="col-xs-3 reference"><img src="{{STATIC_URL}}img/leitstellen/Verbund_Logo.svg.png" alt=""  /></div>
    <div class="col-xs-3 reference"><img src="{{STATIC_URL}}img/leitstellen/OMV_logo.svg.png" alt=""  /></div>
    <div class="col-xs-3 reference"><img src="{{STATIC_URL}}img/leitstellen/Verbund_Logo.svg.png" alt=""  /></div>
</div>
<div class="row">
    <div class="col-xs-3 reference"><img src="{{STATIC_URL}}img/leitstellen/Verbund_Logo.svg.png" alt=""  /></div>
    <div class="col-xs-3 reference"><img src="{{STATIC_URL}}img/leitstellen/Verbund_Logo.svg.png" alt=""  /></div>
    <div class="col-xs-3 reference"><img src="{{STATIC_URL}}img/leitstellen/OMV_logo.svg.png" alt=""  /></div>
    <div class="col-xs-3 reference"><img src="{{STATIC_URL}}img/corporatedesign/group_logo.png" alt=""  /></div>
</div>


<div class="modal fade" id="projects_{{project.id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h3 class="modal-title" id="myModalLabel">{{ project.title }} </h3>
        </div>
        <div class="modal-body">
          <div class="col-xs-3 reference"><img src="{{ image.image.url }}" alt="{{ image.image }}"  /></div>
          <h3>JAHR</h3>
          <p>{{project.start_year}} - {{project.end_year}}</p>
          <h3>STANDORT</h3>
          <p>{{project.location}}</p>
          <h3>PROJEKTUMFANG</h3>
          <p>
            {{project.description}}
          </p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Schließen</button>
        </div>
      </div>
    </div>
    </div>
{% endfor %}
{% endfor %}
