<h2>TTV: Die aufs Maximum reduzierte Leitstelle </h2>


<p class="">
20 Jahre Erfahrung in über 100 Projekten haben ein unschlagbares
Produkt zum Ergebnis: Unser TTV ist auf das Maximum reduziert,
eine Leitstelle für Puristen, gebaut für ultra-lange Haltbarkeit
und größtmögliche Flexibilität. 
</p>

<p>
In nur wenigen Schritten können Sie online Ihren TTV 
zusammen stellen und erhalten von uns
    umgehend ein Angebot:
</p>

<p>
    <a href="/configurator" 
        style="padding:.5em; border:1px solid rgb(168, 3, 22);
            color: white; background: rgb(209,0,25);
            border-radius: 1rem; font-size: 2rem;">
        Konfigurator starten
    </a>
</p>  

<p>
    Weiterführende Beschreibung TTV:
    <a href="{{ STATIC_URL }}assets/Folder_TTV_Praesentation.pdf">
        Folder (PDF)    
    </a>
</p>

  



