<h2>_TTV: Technik trifft Verantwortung </h2>


<p class="readability">
20 Jahre Erfahrung in über 100 Projekten haben ein unschlagbares
Produkt zum Ergebnis: Unser TTV ist auf das Maximum reduziert,
eine Leitstelle für Puristen, gebaut für ultra-lange Haltbarkeit
und größtmögliche Flexibilität. 
</p>

<p class="readability">
In nur wenigen Schritten können Sie online Ihren TTV 
zusammen stellen und erhalten von uns
    umgehend ein Angebot:
</p>

<p class="readability">
    Weiterführende Beschreibung TTV:
    <a href="{{ STATIC_URL }}assets/Folder_TTV_Praesentation.pdf">
        Folder (PDF)    
    </a>
</p>

<div>
    <img src="{{STATIC_URL}}img/leitstellen/TTV-sw.jpg" alt="" width="100%" />
  </div>

<p class="readability">
    <a href="/configurator" 
        style="padding:.5em; border:1px solid rgb(168, 3, 22);
            color: white; background: rgb(209,0,25);
            font-size: 2rem;">
        Konfigurator starten
    </a>
</p>  



  



